spring:

  application:
    name: AssignmentService

  datasource:
    url: jdbc:h2:mem:testdb
    username: test
    password: test

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: false

  jackson:
    property-naming-strategy: SNAKE_CASE
