spring:

  application:
    name: AssignmentService

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:postgres}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  jackson:
    property-naming-strategy: SNAKE_CASE

server:
  port: 8080

springdoc:
  override-with-generic-response: false
  api-docs:
    path: /api-docs
    groups:
      enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    try-it-out-enabled: true
  default-produces-media-type: application/json
  default-consumes-media-type: application/json
  show-actuator: false
  use-management-port: false